package main


templ ptacList() {
    <table>
    <thead>
        <th>Room</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Last Service</th>
    </thead>
        <tbody>
            <tr>
                <th>101</th>
                <td>Amana</td>
                <td>1135DD</td>
                <td>11-11-2024</td>
            </tr>     
        </tbody>
    </table>
}