:root {
  --crabred: #ad381e;
  --crabblue: #216887;
  --crabgrey: #3d4b41;
  --crabbrown: #4b3026;
  --crabyellow: #dbb727;
  --crabgreen: #447a15;
  --crabsand: #9c8c62;
  --crabwallgrey: #939e9a;
  --crabwalltan: #a79e53;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100%;
}

.layout {
  height: 100%;
  background-color: var(--crabgrey);
  display: grid;
  justify-content: center;
  grid:
    "crabhead crabhead crabhead" 15% ". crabnav ." 5% ". crabhome ." auto "crabfoot crabfoot crabfoot" 5% / 10% auto 10%;
  background-color: var(--crabgrey);
}

.crab-header {
  grid-area: crabhead;
  background-color: var(--crabblue);
  display: flex;
  width: auto;
}

.crab-header-logo {
  height: 100%;
}

.crab-header-text {
  flex-grow: 1;
  font-size: xx-large;
  text-align: center;
}

.crab-header-company {
  font-size: xx-large;
  font-weight: 1000;
}

.crab-header-division {
  font-size: x-large;
}

.crab-nav {
  grid-area: crabnav;
  background-color: var(--crabyellow);
}

.crab-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--crabbrown);
  height: 100%;
}

.crab-nav-list li {
  float: left;
  height: 100%;
  border-right: 2px solid var(--crabblue);
}

.crab-nav-list li a {
  display: block;
  color: var(--crabred);
  text-align: center;
  font-size: xx-large;
  height: 100%;
  padding: 5px 30px;
  text-decoration: none;
}

.crab-nav-list li:last-child {
  border-right: none;
}

.crab-nav-list a:hover {
  background-color: var(--crabred);
}
.crab-home {
  grid-area: crabhome;
  background-color: var(--crabbrown);
  opacity: 80%;
  height: 100%;
  display: grid;
  grid:
    ". turnovers ." 20% ". work-orders ." auto ". ptacs ." 15% / 10px auto 10px;
}


.crab-footer {
  grid-area: crabfoot;
  background-color: var(--crabred);
  display: flex;
}

.crab-footer-company {
  padding-left: 10px;
}

.crab-footer-info {
  margin-left: auto;
  text-align: end;
  padding-right: 10px;
}



.turnovers {
  grid-area: turnovers;
  background-color: var(--crabgrey);
  height: 100%;
  display: block flex;
  flex-wrap: wrap;
}

.roomturnover {
  width: 15%;
  margin: 0 0 0 5px;
  border: 1px solid var(--crabsand);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-paint-grey {
  width: 25px;
  height: 25px;
  background-color: var(--crabwallgrey);
}

.room-paint-tan {
  width: 25px;
  height: 25px;
  background-color: var(--crabwalltan);
}

.crab-tickets {
    grid-area: crabhome;
    background-color: var(--crabbrown);
    opacity: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%
}

.crab-tickets-buttons {
  width: 100%;
  display: block flex;
  justify-content: space-around;
}

.crab-ticket-button {
  width: 10rem;
  height: 2rem;
  border: 4px double var(--crabred);
  background-color: var(--crabblue); 
  text-align: center;
}
.crab-ticket {
  width: auto;
  background-color: var(--crabyellow);
  
}

.crab-ticket th {
  background-color: var(--crabyellow);
  border: 3px double var(--crabgrey);
  font-size: x-large;
  padding: 5px 10px;
}

.crab-ticket td {
  background-color: var(--crabsand);
  border: 2px double;
  padding: 2px;
  font-size: large;
}
.work-orders {
  grid-area: work-orders;
  background-color: var(--crabred);
}

.work-orders th {
  background-color: var(--crabyellow);
  border: 3px double var(--crabgrey);
  font-size: x-large;
  padding: 5px 10px;
}

.work-orders td {
  background-color: var(--crabsand);
  border: 2px double;
  padding: 2px;
  font-size: large;
}

.ptac-status {
  grid-area: ptacs;
  height: 100%;
  background-color: var(--crabyellow);
  display: flex;
  flex-wrap: wrap;
}

.ptac {
  background-color: var(--crabgrey);
  width: calc(100% / 10);
  height: 20px;
  margin: 1px;
  text-align: center;
}

.tickets {
  background-color: var(--crabsand);
}